BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  BeforeElse: true
PointerAlignment: Middle
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: Yes
